<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!--Loop over the `payload` variable, which is the list of articles-->
<div class="album py-4 bg-light">
    <div class="container">
        <div class="row">
            {{range .payload }}
            <!--Create the link for the article based on its ID-->
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <iframe src="{{.URL}}" width="200px" height="300px" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media;gyroscope;picture-in-picture"
                            allowfullscreen></iframe>
                        <p class="card-text">
                        <h2>{{.Title}}</h2>
                        <!--Display the content of the article-->
                        <p>{{.Description}}</p>
                        </p>
                        <!--Display the title of the article -->
                    </div>
                </div>
            </div>

            {{end}}
        </div>
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}